<ion-app id="main-content">
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="register">
        <ion-icon name="home-outline" ></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="readings">
        <ion-icon name="pulse"></ion-icon>
        Readings
      </ion-tab-button>
      <ion-tab-button tab="storage">
        <ion-icon name="add"></ion-icon>
        Add
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="cog"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>



