.ion-padding {
    background-color: greenyellow; /* Example background color */
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .profile-picture-area {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .divider {
    margin: 16px 0;
    text-align: center;
  }
  
  .divider ion-label {
    padding: 0 10px;
    // background-color: #f4f4f4;
    font-size: 14px;
    background-color: #FF8911; /* Example background color */
    color: white;
  }
  
  ion-label.ion-text-center {
    display: block;
  }
  ion-toolbar {
    --background: #FF8911;
  }

  .register-button {
    background-color: #FF8911; /* Example background color */
    color: white;
    font-weight: bold;
  }
  
  #notifications-btn{
    position: relative;
 }

  ion-badge {
    --background: #f52105;
    position: absolute;
   top: 0px;
   right: 0px;
  }

  ion-back-button {
    height: 40px;
    width: 40px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    &.button-back {
      --border-radius: 20px;
      // --background: #fff;
    }
  }