<ion-app id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button slot="start" fill="solid" class="button-back" defaultHref="/home">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-back-button>
      </ion-buttons>
      <ion-title text-center></ion-title>
      <ion-buttons slot="end">
        <ion-button tab="alerts" style="position: relative;">
          <ion-icon name="notifications"size="large"></ion-icon>
          <ion-badge>2</ion-badge>
        </ion-button>
            </ion-buttons>
    </ion-toolbar>
  </ion-header>

<!-- <h3>{{obj}}</h3> -->

<ion-content class="ion-padding">
  
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <!-- insert dp -->
            <div class="profile-picture-area">
              <!-- image upload functionality here -->
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-button fill="clear">Change Picture</ion-button>
            </div>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password" required></ion-input>
            </ion-item>

            <!-- <div class="divider">
              <ion-button expand="block" color="success">Create</ion-button>
            </div>

            <div class="divider">
              <ion-label color="medium" class="ion-text-center">Or</ion-label>
            </div>

            <ion-label class="ion-text-center">
              Have an account? <a href="/login">Login</a>
            </ion-label> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="divider">
    <ion-button expand="block" class="register-button" color="#FF8911" (click)="register()">Sign Up</ion-button>
  </div>


    <ion-label color="medium" class="ion-text-center">Or</ion-label>

  <ion-label class="ion-text-center">
    Have an account? <a href="/login">Login</a>
  </ion-label>
</ion-content>
