<ion-header mode="ios">
  <ion-toolbar>
    <ion-title class="title-color">
      Trackr.
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-app id="main-content">

  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="container">
      <ion-grid class="ion-padding">
        <ion-row justify-content-center>
          <ion-col size="12" size-md="8" size-lg="6">
            <picture>
              <img src="assets/iot-illustration.png" alt="iot">
            </picture>
            <ion-button class="register-button" [routerLink]="['/register']" expand="block"
              color="#508D69">Register</ion-button>
            <span class="already">Already a user?</span>
            <ion-button class="login-button" [routerLink]="['/login']" expand="block" color="#508D69">Sign
              In</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-content>
